<link rel="stylesheet" type="text/css" href="/css/app.css">

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <a href="/juego"><button type="button" class="btn btn-warning">Juego Nuevo</button></a>
  </div>
</div>
